@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../public/assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../public/assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../public/assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../public/assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../public/assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../public/assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat-Medium";
}
